# RCausalML: Uplift Modeling and Causal Inference
# NAMESPACE is maintained by hand (roxygen2 does not overwrite this file).
# After adding new @export objects in R/*.Rd-only workflows, add the symbol here and
# run R CMD check.

export(
  synthetic_data,
  simulate_nuisance_and_easy_treatment,
  simulate_randomized_trial,
  simulate_easy_propensity_difficult_baseline,
  simulate_unrelated_treatment_control,
  simulate_hidden_confounder,
  make_uplift_classification,
  make_uplift_regression,
  compute_propensity_score,
  propensity_glmnet,
  propensity_glm,
  nearest_neighbor_match,
  create_table_one,
  SLearner,
  TLearner,
  XLearner,
  DomainAdaptationLearner,
  RLearner,
  r_learner_continuous,
  DRLearner,
  ForestDRLearner,
  LinearDRLearner,
  SparseLinearDRLearner,
  TMLELearner,
  XGBDRLearner,
  DMLearner,
  LinearDML,
  SparseLinearDML,
  KernelDML,
  NonParamDML,
  CausalForestDML,
  causal_forest,
  causal_tree,
  average_treatment_effect,
  grf_causal_forest,
  grf_average_treatment_effect,
  best_linear_projection,
  test_calibration,
  causal_survival_forest,
  instrumental_forest,
  multi_arm_causal_forest,
  rank_average_treatment_effect,
  rank_average_treatment_effect.fit,
  variable_importance,
  doubleml_plr,
  doubleml_plr_fit_data,
  doubleml_plr_tune_data,
  doubleml_pliv,
  doubleml_data_from_data_frame,
  doubleml_data_from_matrix,
  doubleml_make_plr_CCDDHNR2018,
  doubleml_make_pliv_CHS2015,
  doubleml_fetch_401k,
  doubleml_fetch_bonus,
  doubleml_did_eval_preds,
  doubleml_did_linear,
  doubleml_did_rf,
  doubleml_did_xgboost,
  doubleml_did_eval_linear,
  doubleml_did_eval_rf,
  doubleml_did_eval_xgboost,
  DynamicDMLearner,
  OrthoIVLearner,
  DMLIVLearner,
  NonParamDMLIVLearner,
  LRSRegressor,
  XGBTRegressor,
  XGBSRegressor,
  XGBXRegressor,
  XGBRRegressor,
  XGBDRRegressor,
  fit,
  fit_predict,
  estimate_ate,
  uplift_rf_kl,
  uplift_rf_ed,
  uplift_rf_chi,
  uplift_rf_cts,
  uplift_tree_ddp,
  uplift_tree_iddp,
  interaction_tree,
  causal_inference_tree,
  uplift_tree_string,
  uplift_tree_plot,
  uplift_tree_to_rpart,
  uplift_forest_plot,
  iv_2sls,
  late_iv,
  driv_learner,
  counterfactual_value_estimator,
  counterfactual_unit_selection,
  predict_best_treatment,
  cevae,
  dragonnet,
  tarnet,
  cfrnet,
  ganite,
  causalGAN,
  regression_metrics,
  classification_metrics,
  qini_curve,
  qini_score_vec,
  qini_score,
  plot_qini,
  gain_curve,
  plot_gain,
  get_cumlift,
  get_cumgain,
  uplift_rf_multi,
  uplift_randomForest,
  uplift_randomForestClassifier,
  uplift_randomForestRegressor,
  uplift_xgboost,
  uplift_xgboostClassifier,
  uplift_xgboostRegressor,
  one_sided,
  alignment,
  one_sided_att,
  alignment_att,
  sensitivity,
  causalsens_selection_bias,
  sensitivity_analysis,
  plot_sensitivity,
  partial_rsqs_confounding,
  filter_F,
  filter_LR,
  filter_D,
  get_importance,
  policy_learner,
  DRPolicyTree,
  DRPolicyForest,
  predict_proba,
  predict_value,
  feature_importances,
  policy_feature_names,
  coef,
  intercept,
  effect,
  explain_cate,
  list_causaldata_datasets,
  load_causaldata,
  SingleTreeCateInterpreter,
  SingleTreePolicyInterpreter,
  interpret,
  treat,
  set_automated_ml_workspace,
  setAutomatedMLWorkspace,
  EconAutoMLConfig,
  AutomatedMLModel,
  add_automated_ml,
  addAutomatedML,
  rescale_layout,
  rescale_layout_dict,
  random_layout,
  circular_layout,
  shell_layout,
  bipartite_layout,
  spring_layout,
  fruchterman_reingold_layout,
  kamada_kawai_layout,
  spectral_layout,
  spiral_layout,
  multipartite_layout,
  bfs_layout,
  draw_network,
  draw_networkx_nodes,
  draw_networkx_edges,
  draw_networkx_labels,
  causalStructureML,
  causal_structure_ml_model_descriptions,
  generate_data,
  CausalVAE,
  CausalVAE_ATE,
  CausalEGM,
  CausalDiscrepancyVAE,
  neural_granger_ml,
  neuralGrangerML,
  loss_function,
  train_causalvae,
  tune_hyperparameters,
  print_optimization_summary,
  estimate_ate_causalvae_ate,
  causal_vae,
  causal_vae_opt,
  causal_egm,
  causal_discrepancy_vae,
  dscm,
  iVAE,
  elbo_loss,
  ivae,
  TemporalCausalVAE,
  temporal_causal_loss,
  PEHE,
  ATE,
  ATE_error,
  CXGBoost,
  BoostedIVForest,
  boosted_iv_forest,
  save_boosted_iv,
  load_boosted_iv,
  run_example,
  MultiArmCausalBoost,
  multi_arm_PEHE,
  multi_arm_ATE,
  load_multi_arm_causal_boost,
  save_multi_arm_causal_boost,
  run_multi_arm_causal_boost_example,
  deep_scm,
  predict.deep_scm,
  intervene_deep_scm,
  deci_model,
  predict.deci_model,
  ate_deci,
  dynotears,
  predict.dynotears,
  evaluate_graph_recovery,
  plot_scm_dag,
  deepSCM,
  deciModel,
  dynoTEARS,
  attn_causal_model,
  predict.attn_causal_model,
  causal_matrix_attn,
  tcdf_model,
  causal_transformer_model,
  tft_model,
  attnCausalModel,
  TCDFModel,
  CausalTransformerModel,
  TFTModel,
  rnn_causal_model,
  predict.rnn_causal_model,
  causal_matrix_rnn,
  causal_lstm_model,
  retain_model,
  intervention_rnn_model,
  rnnCausalModel,
  CausalLSTMModel,
  RETAINModel,
  InterventionRNNModel,
  gnn_causal_model,
  predict.gnn_causal_model,
  causal_matrix_gnn,
  gvar_model,
  causal_gnn_model,
  cuts_model,
  gnnCausalModel,
  GNNCausalModel,
  GVARModel,
  CausalGNNModel,
  CUTSModel,
  counterfactual_model,
  predict.counterfactual_model,
  ate_counterfactual,
  ite_counterfactual,
  deep_synth_model,
  crn_model,
  gnet_model,
  CounterfactualModel,
  DeepSynthModel,
  CRNModel,
  GNetModel,
  set_random_seed,
  is_dag,
  simulate_dag,
  simulate_parameter,
  simulate_linear_sem,
  simulate_nonlinear_sem,
  count_accuracy,
  notears_linear,
  notears_nonlinear,
  demo_linear,
  demo_nonlinear_mlp,
  demo_nonlinear_sobolev,
  NotearsMLP,
  NotearsSobolev,
  dagmaLinear,
  dagma,
  DagmaMLP,
  castle,
  get_daggnn_device,
  preprocess_adj,
  matrix_poly,
  DAGGNN,
  make_daggnn,
  daggnn_adj,
  GraNDAG,
  NormalizationData,
  NonlinearGauss,
  NonlinearGaussANM,
  is_acyclic,
  compute_constraint,
  compute_A_phi,
  neighbors_selection,
  GraphDAG
)

S3method(fit, SLearner)
S3method(fit, TLearner)
S3method(fit, XLearner)
S3method(fit, DomainAdaptationLearner)
S3method(fit, RLearner)
S3method(fit, DRLearner)
S3method(fit, DMLearner)
S3method(fit, DynamicDMLearner)
S3method(fit, OrthoIVLearner)
S3method(fit, DMLIVLearner)
S3method(fit, NonParamDMLIVLearner)
S3method(fit_predict, DRLearner)
S3method(fit_predict, DMLearner)
S3method(predict, SLearner)
S3method(predict, TLearner)
S3method(predict, XLearner)
S3method(predict, DomainAdaptationLearner)
S3method(predict, RLearner)
S3method(predict, DRLearner)
S3method(predict, DMLearner)
S3method(predict, DynamicDMLearner)
S3method(predict, OrthoIVLearner)
S3method(predict, DMLIVLearner)
S3method(predict, NonParamDMLIVLearner)
S3method(coef, LinearDML)
S3method(coef, LinearDRLearner)
S3method(coef, SparseLinearDML)
S3method(coef, SparseLinearDRLearner)
S3method(intercept, LinearDML)
S3method(intercept, LinearDRLearner)
S3method(intercept, SparseLinearDML)
S3method(intercept, SparseLinearDRLearner)
S3method(effect, DynamicDMLearner)
S3method(fit, policy_learner)
S3method(fit, DRPolicyTree)
S3method(fit, DRPolicyForest)
S3method(predict, policy_learner)
S3method(predict, DRPolicyTree)
S3method(predict, DRPolicyForest)
S3method(predict_proba, policy_learner)
S3method(predict_proba, DRPolicyTree)
S3method(predict_proba, DRPolicyForest)
S3method(predict_value, DRPolicyTree)
S3method(feature_importances, DRPolicyTree)
S3method(feature_importances, DRPolicyForest)
S3method(interpret, SingleTreeCateInterpreter)
S3method(interpret, SingleTreePolicyInterpreter)
S3method(treat, SingleTreePolicyInterpreter)
S3method(predict, SingleTreeCateInterpreter)
S3method(predict, SingleTreePolicyInterpreter)
S3method(predict, causal_forest)
S3method(plot, rank_average_treatment_effect)
S3method(plot, grf_tree)
S3method(print, causal_forest)
S3method(summary, causal_forest)
S3method(predict, uplift_rf)
S3method(predict, uplift_rf_multi)
S3method(predict, uplift_randomForest)
S3method(print, uplift_randomForest)
S3method(predict, uplift_xgboost)
S3method(print, uplift_xgboost)
S3method(predict, uplift_tree_ddp)
S3method(predict, uplift_tree_iddp)
S3method(predict, interaction_tree)
S3method(predict, causal_inference_tree)
S3method(predict, driv_learner)
S3method(predict, cevae)
S3method(predict, dragonnet)
S3method(predict, tarnet)
S3method(predict, cfrnet)
S3method(predict, ganite)
S3method(predict, causalGAN)
S3method(predict, causal_egm)
S3method(predict, causal_discrepancy_vae)
S3method(predict, neural_granger_ml)
S3method(predict, dscm)
S3method(predict, deep_scm)
S3method(predict, deci_model)
S3method(predict, dynotears)
S3method(predict, attn_causal_model)
S3method(predict, rnn_causal_model)
S3method(predict, gnn_causal_model)
S3method(predict, counterfactual_model)
S3method(predict, castle)
S3method(summary, castle)
S3method(plot, castle)
S3method(predict_best_treatment, counterfactual_value_estimator)
S3method(estimate_ate, SLearner)
S3method(estimate_ate, TLearner)
S3method(estimate_ate, XLearner)
S3method(estimate_ate, DomainAdaptationLearner)
S3method(estimate_ate, RLearner)
S3method(estimate_ate, DRLearner)
S3method(estimate_ate, DMLearner)
S3method(estimate_ate, TMLELearner)
S3method(fit, TMLELearner)
S3method(fit_predict, SLearner)
S3method(fit_predict, TLearner)
S3method(fit_predict, XLearner)
S3method(fit_predict, DomainAdaptationLearner)
S3method(fit_predict, RLearner)

S3method(fit, AutomatedMLModel)
S3method(predict, AutomatedMLModel)
S3method(predict_proba, AutomatedMLModel)

import(stats)
import(utils)
import(igraph)
import(Matrix)
import(glmnet)
import(ranger)
import(rpart)
import(progress)
import(MASS)
import(R6)